<%- include('header') -%>
    <div id="header-stuff"></div>
    <div id="cart-wrapper"><button class="btn" id="delete-cart">刪除購物車</button>
        <div id="cart-display"></div><button class="btn" id="checkout">前往結帳</button>
        <div id="payment"></div>
    </div>
    <script>
        import (`/public/js/layout.js`)
        import (`/public/js/cart.js`)
    </script>
<%- include('footer') -%>
