<!DOCTYPE html>
<html lang="en">

<head></head>

<body>
    <link rel="stylesheet" href="/public/css/checkout.css">
    <div id="header-stuff"></div>
    <h3>Yo! Yo! Check it out! </h3>
    <form id="card-pay">
        <div class="tpfield" id="card-number"></div>
        <div class="tpfield" id="card-expiration-date"></div>
        <div class="tpfield" id="card-ccv"></div><button class="btn" type="submit" id="pay">Pay</button>
        <p>測試卡號: 4242424242424242 </p>
    </form>
    <script src="https://js.tappaysdk.com/sdk/tpdirect/v5.15.0"></script>
    <script>
        import(`/public/js/checkout.js`)
    </script>
</body>

</html>