<%- include('header') -%>
<div id="header-stuff"></div>
<div id="wrapper">
    <div id="first-row">
        <div id="number"></div>
        <div id="total-sold-color"></div>
    </div>
    <div id="second-row">
        <div id="total-sold-price"></div>
        <div id="top-five"></div>
    </div>
</div>
<script>
    import (`/public/js/dashboard.js`)
    import (`/public/js/create_product.js`)
</script>
<%- include('footer') -%>