<footer>
    <div id="footer">
        <ul id="footer-ul">
            <li class="about">關於STYLISH </li>
            <li class="block-footer">|</li>
            <li class="about">服務條款</li>
            <li class="block-footer">|</li>
            <li class="about">隱私政策</li>
            <li class="block-footer">|</li>
            <li class="about">聯絡我們</li>
            <li class="block-footer">|</li>
            <li class="about">FAQ </li>
        </ul><img class="social-media" src="/public/ui/line.png" /><img class="social-media"
            src="/public/ui/twitter.png" /><img class="social-media" src="/public/ui/facebook.png" />
        <p id="copyright">Copyright © 2023 stylish.ltd. All rights reserved.</p>
    </div>
</footer>

</html>