<%- include('header') -%>
<div id="header-stuff"></div>
<a id="campaign-link">
    <div id="campaign"><img id="campaign-picture" />
        <div id="campaign-story">
            <p class="campaign-story" id="campaign-story0">一</p>
            <p class="campaign-story" id="campaign-story1">二</p>
            <p class="campaign-story" id="campaign-story2">三</p>
            <p id="campaign-foot"> 飛狗</p>
        </div>
    </div>
</a>
<div id="no-result"></div>
<div id="product-lists">
    <div class="product-row" id="top-row">
        <div class="products"></div>
        <a id="product0">
            <div class="product-img" id="product0-img"></div>
            <div class="product-color" id="product0-color"></div>
            <div class="product-name" id="product0-name"> </div>
            <div class="product-price" id="product0-price"> </div>
        </a>
        <div class="products"></div>
        <a id="product1">
            <div class="product-img" id="product1-img"></div>
            <div class="product-color" id="product1-color"></div>
            <div class="product-name" id="product1-name"></div>
            <div class="product-price" id="product1-price"></div>
        </a>
        <div class="products"></div>
        <a id="product2">
            <div class="product-img" id="product2-img"></div>
            <div class="product-color" id="product2-color"></div>
            <div class="product-name" id="product2-name"></div>
            <div class="product-price" id="product2-price"></div>
        </a>
    </div>
    <div class="product-row" id="bottom-row">
        <div class="products"></div>
        <a id="product3">
            <div class="product-img" id="product3-img"></div>
            <div class="product-color" id="product3-color"></div>
            <div class="product-name" id="product3-name"></div>
            <div class="product-price" id="product3-price"></div>
        </a>
        <div class="products"></div>
        <a id="product4">
            <div class="product-img" id="product4-img"></div>
            <div class="product-color" id="product4-color"></div>
            <div class="product-name" id="product4-name"></div>
            <div class="product-price" id="product4-price"></div>
        </a>
        <div class="products"></div>
        <a id="product5">
            <div class="product-img" id="product5-img"></div>
            <div class="product-color" id="product5-color"></div>
            <div class="product-name" id="product5-name"></div>
            <div class="product-price" id="product5-price"></div>
        </a>
        <div id="page"></div>
    </div>
</div>
<script>
    import (`/public/js/layout.js`)
    import (`/public/js/index.js`)
</script>
<%- include('footer') -%>