<%- include('header') -%>
    <div id="header-stuff"></div>
    <div id="log">
        <form id="sign-up"></form>
        <form id="sign-in"></form>
        <div id="profile"></div>
    </div>
    <script>
        import(`/public/js/layout.js`)
        import(`/public/js/profile.js`)
    </script>
<%- include('footer') -%>