extends layout.pug

block content
    div(id="header-stuff")
    div(id="cart-wrapper")
        button(id="delete-cart" class="btn") 刪除購物車
        div(id="cart-display")
        button(id="checkout" class="btn") 前往結帳
        div(id="payment")

    script.
        import(`/public/js/layout.js`)
        import(`/public/js/cart.js`)
