doctype html
html(lang="en")
    head
    body
        link(rel="stylesheet" ,href= `/public/css/checkout.css`)
        div(id="header-stuff")
        h3 Yo! Yo! Check it out!    
        form(id="card-pay")
            div(id="card-number" class="tpfield")
            div(id="card-expiration-date" class="tpfield")
            div(id="card-ccv" class="tpfield")
            button(type="submit" id="pay" class="btn") Pay
            p 測試卡號: 4242424242424242 

        script(src = "https://js.tappaysdk.com/sdk/tpdirect/v5.15.0")

        script. 
            import(`/public/js/checkout.js`)