extends layout.pug

block content
  link(rel="stylesheet" ,href= `/public/css/create_product.css`)
  div(id="header-stuff")
  h4 Please fill in
    form(action="/admin/create_product" method="POST" enctype="multipart/form-data" id="product-form") 
      div
        label(for="category") category:
        select(id="category" name="category" required) 
          option(value="men") men 
          option(value="women") women 
          option(value="accessories") accessories
      div 
        label(for="title") title: 
        input(id="title" name="title" type="text" placeholder="厚實毛呢格子外套(max:32)" maxlength="32" required ) 
      div
        label(for="description") description:
        input(id="description" name="description" type="text" placeholder="高抗寒素材選用，保暖也時尚有型" maxlength="255" required ) 
      div 
        label(for="price") price: 
        input(id="price" name="price" type="number" placeholder="2200" min="0"  required ) 
      div
        label(for="texture") texture:
        input(id="texture" name="texture" type="text" placeholder="棉、聚脂纖維 (max:32)" maxlength="32" required ) 
      div 
        label(for="wash") wash: 
        input(id="wash" name="wash" type="text" placeholder="手洗(水溫40度 (max:32)" maxlength="32" required ) 
      div
        label(for="place") place:
        input(id="place" name="place" type="text" placeholder="韓國 (max:32)" maxlength="32" required ) 
      div 
        label(for="note") note: 
        input(id="note" name="note" type="text" placeholder="實品顏色以單品照為主 (max:64)" maxlength="64" required ) 
      div
        label(for="story") story:
        input(id="story" name="story" type="text" placeholder="你絕對不能錯過的超值商品" required ) 
      div(id="variants_form") 
        label(for="color_name") color name: 
        input(id="variants[0][color_name]" name="variants[0][color_name]" type="text" placeholder="白色" maxlength="16" required )
        label(for="color_code") color code: 
        input(id="variants[0][color_code]" name="variants[0][color_code]" type="text" maxlength="6" placeholder="FFFFFF" required )
        label(for="size") size: 
        select(id="variants[0][size]" name="variants[0][size]" required )
          option(value="XS") XS
          option(value="S") S
          option(value="M") M 
          option(value="L") L 
          option(value="XL") XL 
          option(value="2XL") 2XL
        label(for="stock") stock:
        input(id="variants[0][stock]" name="variants[0][stock]" type="number" placeholder="5" min="0" max="32767" required )
        button(type="button" id="more_variants") More Variants
      div(id="variants_form1") 
      div
        label(for="main_image") main image: 
        input(id="main_image" name="main_image" type="file" accept="image/png, image/jpeg, image/jpg" required ) 
      div(id="images_form") 
        label(for="image") other images: 
        input(id="images" name="images" type="file" multiple  accept="image/png, image/jpeg, image/jpg") 

      div(id="submit") 
        button(type="submit") Create Product
  script.
    import(`/public/js/create_product.js`)







