extends layout.pug

block content
    div(id="header-stuff")
    div(id='wrapper')
        div(id='first-row')
            div(id="number")
            div(id="total-sold-color" )
        div(id='second-row')
            div(id="total-sold-price" )
            div(id="top-five" )
    script.
        import(`/public/js/dashboard.js`)
