extends layout.pug

block content
  div(id="header-stuff")
  a(id="campaign-link")
    div(id="campaign")
      img(id="campaign-picture")
      div(id="campaign-story")        
        p(id="campaign-story0" class="campaign-story") 一
        p(id="campaign-story1" class="campaign-story") 二
        p(id="campaign-story2" class="campaign-story") 三
        p(id="campaign-foot" )  飛狗
  div(id="no-result")
  div(id="product-lists")
    div(id="top-row" class="product-row")
      div(class="products")
      a(id="product0")
        div(id="product0-img" class="product-img")
        div(id="product0-color" class="product-color")
        div(id="product0-name" class="product-name") 
        div(id="product0-price" class="product-price") 
      div( class="products")
      a(id="product1")
        div(id="product1-img" class="product-img")
        div(id="product1-color" class="product-color")
        div(id="product1-name" class="product-name")
        div(id="product1-price" class="product-price")
      div( class="products")
      a(id="product2")
        div(id="product2-img" class="product-img")
        div(id="product2-color" class="product-color")
        div(id="product2-name" class="product-name")
        div(id="product2-price" class="product-price")
    div(id="bottom-row" class="product-row")
      div( class="products")
      a(id="product3")
        div(id="product3-img" class="product-img")
        div(id="product3-color" class="product-color")
        div(id="product3-name" class="product-name")
        div(id="product3-price" class="product-price")
      div( class="products")
      a(id="product4")
        div(id="product4-img" class="product-img")
        div(id="product4-color" class="product-color")
        div(id="product4-name" class="product-name")
        div(id="product4-price" class="product-price")
      div( class="products")
      a(id="product5")
        div(id="product5-img" class="product-img")
        div(id="product5-color" class="product-color")
        div(id="product5-name" class="product-name")
        div(id="product5-price" class="product-price")
      div(id="page")
  script.
    import(`/public/js/layout.js`)
    import(`/public/js/index.js`)
