extends layout.pug

block content 
  div(id="header-stuff")
  div(id="product-page")
    div(id="product-top")
      img(id="product-main-img")
      div(id="product-info")
        h1(id="product-title")
        p(id="product-id") 
        h3(id="product-price") 
        hr(id="product-top-hr")
        form(id="variants-form")
          div(id="product-color" class="product-variants")
            p(id="product-color-tag" class="product-tag") 顏色
          div(id="product-size" class="product-variants")
            p(id="product-size-tag" class="product-tag") 尺寸
          div(id="product-qty" class="product-variants")
            p(id="product-qty-tag" class="product-tag") 數量
            div(id="qty-box")
              button(type="button" id="minus") -
              input(id="qty" type="number" min=1 value=1)
              button(type="button" id="plus") +
            p(id="stock")
          button(id="add-cart" disabled=true) 請選擇顏色
        p(id="product-note" class="product-note") 
        p(id="product-texture" class="product-note") 
        p(id="product-description" class="product-note") 
        p(id="product-place" class="product-note") 
    div(id="product-bottom")
      div(id="product-details")
        div(id="details-wrapper")
          p(id="details") 更多產品資訊 
        div(id="product-bottom-hr-wrapper")
          hr(id="product-bottom-hr")
      p(id="product-story") 
      div(id="product-images")
      
  script.
    import(`/public/js/layout.js`)
    import(`/public/js/product.js`)