extends layout.pug

block content
    div(id="header-stuff")
    div(id="log")
        form(id="sign-up")
        form(id="sign-in")
        div(id="profile")
    script. 
        import(`/public/js/layout.js`)
        import(`/public/js/profile.js`)