footer
  div(id="footer")
    ul(id="footer-ul") 
      li(class="about") 關於STYLISH 
      li(class="block-footer") |
      li(class="about") 服務條款
      li(class="block-footer") |
      li(class="about") 隱私政策
      li(class="block-footer") |
      li(class="about") 聯絡我們
      li(class="block-footer") |
      li(class="about") FAQ 
    
    img(class="social-media" src="/public/images/line.png")  
    img(class="social-media" src="/public/images/twitter.png") 
    img(class="social-media" src="/public/images/facebook.png") 
    p(id="copyright") Copyright © 2023 stylish.ltd.  All rights reserved.